<h1><%= @usuario.nome %> <%= @usuario.sobrenome %></h1>

    <p> Nome: </p><%= @usuario.nome %> </p>
    <br>
    <p> Sobrenome: </p><%= @usuario.sobrenome %> </p>
    <br>
    <p> email: </p><%= @usuario.email %> </p>
    <br>
    <p> telefone: </p><%= @usuario.telefone %> </p>
    <br>
    <p> Data de Nacismento: </p><%= @usuario.data_nascimento %> </p>
    <br>
    